body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100%;
    margin: 0;
    padding: 0;

    font-family: sans-serif;

    background-color: #1cca56c0;
}

#play-area {
    width: 100%;
    height: 80%;
}

#play-area * {
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s, width 0.5s, height 0.5s; /* Animation */
    
}
#play-area * * {
    width: 100%;
    height: 100%;
}

button {
    width: 100px;
    height: 50px;
}

.hand-card {
    /* width: 60px;
    height: 110px; */
}
.hand-card div {
    background-color: #313131;
    border-radius: 6px;
    border-color: #eaeaea;
    border-width: 4px;
    border-style: solid;
    box-sizing: border-box;
    color: white;
}
.hand-card.in-hand:hover {
    z-index: 1000 !important;
}
.hand-card.in-hand div:hover {
    transform: scale(1.5);
}
.hand-card.selected {
    z-index: 1000 !important;
}
.hand-card.selected div {
    border-color: rgba(255, 230, 0);
    transform: scale(1.6);
}

.board-card {
    width: 64px;
    height: 64px;
    background-color: #3333;
}
.board-card div {
    background-color: #3333;
}

.enemy {
    width: 64px;
    height: 64px;
    background-color: #3333;
}

.grid-square {
    width: 64px;
    height: 64px;
}
.grid-square div {
    background-color: rgba(194, 165, 0, 0.2);
}
.grid-square div:hover {
    transform: scale(1.5);    
}